## Initialization

In [ ]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
from community import community_louvain
%matplotlib inline
from scipy.spatial.distance import cosine

In [ ]:
df = pd.read_csv ('https://raw.githubusercontent.com/thatNitinVinayak/Inventory-Management-using-IoT/main/References/Reference%20Code/dataset/Items.csv')

In [ ]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04-07-2019 22.30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04-12-2019 14.38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04-12-2019 14.38,"669 Spruce St, Los Angeles, CA 90001"

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
path = '/content/drive/My Drive/Colab Notebooks/OnlineRetail.xlsx'
dataset = pd.read_excel(path)

In [7]:
print('Dataset Dimensions : ', dataset.shape)
dataset.describe(include = 'all')

Dataset Dimensions :  (541909, 8)

<ipython-input-7-94a0e184a5b8>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  dataset.describe(include = 'all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909.0,541909,540455,541909.000000,541909,541909.000000,406829.000000,541909
unique,25900.0,4070,4223,NaN,23260,NaN,NaN,38
top,573585.0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,2011-10-31 14:41:00,NaN,NaN,United Kingdom
freq,1114.0,2313,2369,NaN,1114,NaN,NaN,495478
first,NaN,NaN,NaN,NaN,2010-12-01 08:26:00,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2011-12-09 12:50:00,NaN,NaN,NaN
mean,NaN,NaN,NaN,9.552250,NaN,4.611114,15287.690570,NaN
std,NaN,NaN,NaN,218.081158,NaN,96.759853,1713.600303,NaN
min,NaN,NaN,NaN,-80995.000000,NaN,-11062.060000,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,13953.000000,NaN
50%,NaN,NaN,NaN,3.000000,NaN,2.080000,15152.000000,NaN
75%,NaN,NaN,NaN,10.000000,NaN,4.130000,16791.000000,NaN
max,NaN,NaN,NaN,80995.000000,NaN,38970.000000,18287.000000,NaN

In [8]:
dataset_sample = dataset.iloc[:4000]

## Data Preprocessing

In [9]:
# Delete Rows with no Customer ID (if there is such a case)
cleaned_retail = dataset_sample.loc[pd.isnull(dataset_sample.CustomerID) == False]

# Create a Lookup Table
item_lookup = cleaned_retail[['StockCode', 'Description']].drop_duplicates()
item_lookup['StockCode'] = item_lookup.StockCode.astype(str)

# Data Cleaning to Raw Data
cleaned_retail['CustomerID'] = cleaned_retail.CustomerID.astype(int)
cleaned_retail = cleaned_retail[['StockCode', 'Quantity', 'CustomerID']]
grouped_cleaned = cleaned_retail.groupby(['CustomerID', 'StockCode']).sum().reset_index()
print()
grouped_cleaned.Quantity.loc[grouped_cleaned.Quantity == 0] = 1
grouped_purchased = grouped_cleaned.query('Quantity > 0')

<ipython-input-9-6d2fc95d9cd0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_retail['CustomerID'] = cleaned_retail.CustomerID.astype(int)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [10]:
# Count Number of Products and Number of Customers in the Reduced Dataset 
products_num = len(grouped_purchased.StockCode.unique())
customers_num = len(grouped_purchased.CustomerID.unique())
print('Number of Customers in Dataset:', customers_num)
print('Number of Products in Dataset:', products_num)

Number of Customers in Dataset: 137
Number of Products in Dataset: 1131

## Creation of Bipartite Graph

In [11]:
# Turn Raw Data to Pivot ('ratings' Matrix)
ratings = grouped_purchased.pivot(index = 'CustomerID', columns = 'StockCode', values = 'Quantity').fillna(0).astype('int')
# Binarize the Ratings Matrix (indicate only if a customer has purchased a product or not)
ratings_binary = ratings.copy()
ratings_binary[ratings_binary != 0] = 1

## Conversion to a Weighted Product Graph

In [ ]:
# Initialize Zeros Dataframe for Product Interactions
products_integer = np.zeros((products_num, products_num))

# Count how many times each Product Pair has been Purchased
print('Counting how many times each pair of products has been purchased...')
for i in range(products_num):
    for j in range(products_num):
        if i != j:
            df_ij = ratings_binary.iloc[:,[i,j]] # Create a Temporary Dataset 'df' with only i and j Products as Columns
            sum_ij = df_ij.sum(axis=1)
            pairings_ij = len(sum_ij[sum_ij == 2]) # if s1_ij == 2 it means that both Products were Purchased by the Same Customer
            products_integer[i,j] = pairings_ij
            products_integer[j,i] = pairings_ij

Counting how many times each pair of products has been purchased...

In [ ]:
# Count how many Customers have Purchased each Item
print('Counting how many times each individual product has been purchased...')
times_purchased = products_integer.sum(axis = 1)

In [ ]:
print (times_purchased)

NameError: ignored

## Building Product Matrix

In [ ]:
# Construct Final Weighted Matrix of Item Interactions
print('Building weighted product matrix...')
products_weighted = np.zeros((no_products,no_products))
for i in range(no_products):
    for j in range(no_products):
        if (times_purchased[i]+times_purchased[j]) !=0: # Make sure you do not Divide with Zero
            products_weighted[i,j] = (products_integer[i,j])/(times_purchased[i]+times_purchased[j])

## Visualization of Weighted Product Matrix